<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/jquery.qrcode/src/jquery.qrcode.js"></script>
  <script src="/public/setTime/js/index.js"></script>
</head>
<body>
  <h1>{{ title }}</h1>
  <p class="timeText">距离活动<span style="color: red;" class="timeId" id="timeId1"></span></p>
  <p class="timeText">距离活动<span style="color: red;" class="timeId" id="timeId2"></span></p>
  <p class="timeText">距离活动<span style="color: red;" class="timeId" id="timeId3"></span></p>
  <p class="timeText">距离活动<span style="color: red;" class="timeId" id="timeId4"></span></p>
</body>
</html>